/*.navbar {*/

/*}*/

/*.navbar span {*/

/*}*/

.movie-poster {
    width: 150px; /* Или желаемая ширина */
    height: 150px; /* Сохранит пропорции */
}

footer {
    background-color: #f8f9fa; /* Светлый фон */
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
