{% extends 'cinema_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
    {% if user.is_authenticated %}
        <div class="row">
        <!-- Левый навбар -->
        <div class="col-md-3 border-end">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="{% url 'profile' %}" class="btn btn-secondary w-100 text-start">Основна інформація</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'profile_settings' %}" class="btn btn-secondary w-100 text-start">Налаштування профілю</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'user_orders' %}" class="btn btn-secondary w-100 text-start">Мої замовлення</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'password_change' %}" class="btn btn-secondary w-100 text-start">Безпека</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'telegram_link_start' %}" class="btn btn-secondary w-100 text-start">Telegram Link</a>
                </li>
                <li class="nav-item mt-4">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger w-100">Вийти</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="profile-content">
                {% block profile_content %}
                    <h2>Основна інформація</h2>
                    <p><strong>Ім'я:</strong> {{ user.first_name }}</p>
                    <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
                    <p><strong>Електронна пошта:</strong> {{ user.email }}</p>
                    <p><strong>Логін:</strong> {{ user.username }}</p>
                {% endblock %}
                </div> 
            </div> 
        </div> 
    {% else %}
        <h2>Ви не авторизовані</h2>
        <p>Будь ласка, увійдіть у свій акаунт, щоб переглянути профіль.</p>
    {% endif %}
    </div> 
{% endblock %}
