/*.navbar {*/

/*}*/

/*.navbar span {*/

/*}*/

.movie-poster {
    width: 150px; /* Или желаемая ширина */
    height: 150px; /* Сохранит пропорции */
}

footer {
    background-color: #f8f9fa; /* Светлый фон */
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

html {
    overflow-y: scroll; /* Всегда отображает вертикальный скроллер */
}

body {
    margin: 15px; /* Убирает отступы по умолчанию */
    padding-right: 15px; /* Создает пространство для скроллера */
    overflow-y: auto; /* Позволяет прокрутку при необходимости */
}