/*.navbar {*/

/*}*/

/*.navbar span {*/

/*}*/

.movie-poster {
    width: 150px;
    height: 150px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

html {
    overflow-y: scroll;
}


body {
    margin: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

.btn-google {
  background-image: linear-gradient(to right, #ff4444, #ffbb33);
  color: white;
}