{% extends 'cinema_app/base.html' %}

{% block content %}
<div class="container mt-4 text-center">
    <h1>Ваш платіж обробляється</h1>
    <p>Дякуємо за ваше замовлення! Ми підтверджуємо ваш платіж. Це може зайняти кілька секунд.</p>
    <p>Якщо платіж буде підтверджено, ви будете автоматично перенаправлені.</p>

    <hr>

    <h2>Деталі замовлення</h2>
    <p><strong>Номер замовлення:</strong> {{ order.id }}</p>
    <p><strong>Фільм:</strong> {{ order.session.movie.title }}</p>
    <p><strong>Дата сеансу:</strong> {{ order.session.session_date|date:"d.m.Y" }}</p>
    <p><strong>Початок сеансу:</strong> {{ order.session.start_time|time:"H:i" }}</p>
    <p><strong>Місця:</strong> {{ seat_numbers }}</p>
    <p><strong>Сума:</strong> {{ order.total_price }} грн</p>
</div>
<script>
    const checkStatus = () => {
        fetch(`/order-status/{{ order.id }}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Response data:', data); 
                if (data.status === 'completed') {  
                    window.location.href = `/purchase-success/{{ order.id }}/`;
                }
            })
            .catch(error => console.error('Ошибка при обновлении статуса:', error));
    };

    setInterval(checkStatus, 3000); 
</script>
{% endblock %}
