<div class="row mb-4">
    <div class="col-md-8">
        <form method="get" class="row g-2">
            <div class="col-md-6">
                <label for="genre" class="form-label">Жанр:</label>
                <select name="genre" id="genre" class="form-select">
                    <option value="">Всі</option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if genre.id|stringformat:"s" in selected_genres %}selected{% endif %}>
                            {{ genre.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6">
                <label for="age_limit" class="form-label">Вікове обмеження:</label>
                <select name="age_limit" id="age_limit" class="form-select">
                    <option value="">Всі</option>
                    {% for age, label in AGE_CHOICES %}
                        <option value="{{ age }}" {% if age|stringformat:"s" == selected_age_limit %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-12 mt-2">
                <button type="submit" class="btn btn-dark">Фільтрувати</button>
            </div>
        </form>
    </div>

    <!-- Форма поиска справа -->
    <div class="col-md-4">
        <form method="get" class="d-flex align-items-end">
            <div class="flex-grow-1 me-2">
                <label for="search" class="form-label">Пошук:</label>
                <input type="text" name="search" id="search" value="{{ search_query }}" placeholder="Пошук по назві" class="form-control">
            </div>
            <button type="submit" class="btn btn-dark">Пошук</button>
        </form>
    </div>
</div>
