<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-4">
            <label for="date" class="form-label">Обрати дату:</label>
            <select name="date" id="date" class="form-select">
                <!-- Пункт по умолчанию - Без дати -->
                <option value="" {% if not selected_date %}selected{% endif %}>Без дати</option>
                <option value="{{ today|date:"Y-m-d" }}" {% if selected_date == today %}selected{% endif %}>{{ today_label }}</option>
                <option value="{{ tomorrow|date:"Y-m-d" }}" {% if selected_date == tomorrow %}selected{% endif %}>{{ tomorrow_label }}</option>
                {% for day in upcoming_days %}
                    <option value="{{ day.date|date:"Y-m-d" }}" {% if selected_date == day.date %}selected{% endif %}>{{ day.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-dark">Пошук</button>
        </div>
    </div>
</form>
