{% extends base.html %}
{% load static %}
{% block footer %}
<footer class="bg-dark text-light text-center py-4">
    <div class="container">
        <p class="mb-0">&copy; 2024 The Lantern of Valinor. Всі права захищені.</p>
        <div class="mt-2">
            <a href="#" class="text-light">Політика конфіденційності</a> |
            <a href="#" class="text-light">Умови використання</a>
        </div>
        <div class="mt-2">
            <a href="https://www.facebook.com" class="text-light" target="_blank">Facebook</a> |
            <a href="https://www.instagram.com" class="text-light" target="_blank">Instagram</a> |
            <a href="https://www.twitter.com" class="text-light" target="_blank">Twitter</a>
        </div>
    </div>
{% endblock %}       