<form method="get" class="mb-4">
    <div class="row">
        <!-- Фильтр по жанрам -->
        <div class="col-md-4">
            <label for="genre">Жанр:</label>
            <select name="genre" id="genre" class="form-control">
                <option value="">Все</option>
                {% for genre in genres %}
                    <option value="{{ genre.id }}"
                            {% if genre.id|stringformat:"s" in selected_genres %}selected{% endif %}>
                        {{ genre.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Фильтр по возрасту -->
        <div class="col-md-4">
            <label for="age_limit">Вік:</label>
            <select name="age_limit" id="age_limit" class="form-control">
                <option value="">Все</option>
                {% for age, age_display in AGE_CHOICES %}
                    <option value="{{ age }}"
                            {% if age|stringformat:"s" == request.GET.age_limit %}selected{% endif %}>
                        {{ age_display }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-primary mt-4">Фільтрувати</button>
        </div>
    </div>
</form>